* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 36rem;
  max-height: 800px;
  margin: 15rem auto;
  background-color: #20212b;
  font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 600px) {
  body {
    max-height: 100%;
    margin: 1rem;
  }
}

#top-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 2rem;
}

#text-box-div {
  display: flex;
  flex-direction: row;
  max-width: 36rem;
  margin: 0;
  border-bottom: #ffa800 dotted 2px;
}

#text-box {
  width: 24rem;
  padding: 0.5rem;
  border: none;
  background: transparent;
  color: white;
  font-size: 1.5rem;
  outline: none;
}

@media only screen and (max-width: 600px) {
  #text-box {
    width: 18rem;
    font-size: 1rem;
  }
}

#add-button {
  margin: 0;
  padding: 0;
  background: transparent;
  font-size: 1.5rem;
  outline: none;
  color: #ffeb3b;
}

@media only screen and (max-width: 600px) {
  #add-button {
    font-size: 1rem;
  }
}

#add-button:active {
  color: red;
}

#clear-buttons-div {
  visibility: hidden;
  margin: 1rem;
  width: 24rem;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  #clear-buttons-div {
    margin: 0.75rem;
  }
}

button {
  padding: 0.75rem;
  border-radius: 1rem;
  border: none;
  font-size: 0.5rem;
  background-color: #67b4e0;
  color: white;
  font-weight: bolder;
  outline: none;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  button {
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: 8px;
  }
}

button:active {
  background-color: red;
}

span {
  color: #ffeb3b;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: darkslateblue;
  color: white;
  margin: 0.25rem;
  padding: 0.25rem;
}

li:hover {
  background-color: #ffa800;
}

input[type='checkbox'] {
  display: none;
}

label {
  margin: 0.2rem;
}

label::before {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  padding-left: 0.2rem;
  padding-bottom: 0.3rem;
  margin-right: 0.2rem;
  border: none;
  vertical-align: bottom;
  color: transparent;
  transition: 0.2s;
}

.done {
  text-decoration: line-through;
  text-decoration-color: red;
  color: gray;
  background-color: mediumseagreen;
  border-color: mediumseagreen;
}

li.done > input[type='checkbox']:checked + label::before {
  content: '\2713';
  color: #ffeb3b;
}

.responsive-margin {
  margin: 2rem auto;
}

@media only screen and (max-width: 600px) {
  .responsive-margin {
    max-height: 100%;
    margin: 1rem auto;
  }
}
